includes:
  - vendor/flarum/phpstan/extension.neon

parameters:
  # The level will be increased in Flarum 2.0
  level: 9
  paths:
    - extend.php
    - src
  excludePaths:
    - *.blade.php
  databaseMigrationsPath: ['migrations']
